/* le styles */

body {
    font-family: 'Roboto', monospace;
    /* margin: 0 36px; */
}

.topbloc, .footer {
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 16px 56px; 
}

.header {
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-flow: row wrap;
}

.maincontent {
    padding: 16px 56px;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.fakelogo {
    font-size:24px;
    color: #F9FAF8;
    font-family: monospace;
    font-weight:700
    
}

.rectangle {
    height: 120px;
    width: 240px;
    font-size: 12px;
    color: #1F2937;
    text-align: center;
    background-color: #387261;
}

.footer {
    font-size: 12px;
    margin-top: 8px;
    display: flex;
    justify-content: center;
}