/* le styles */

body {
    font-family: 'Roboto', monospace;
    margin: 0;
}

h1, h2, h3 {
    margin-bottom: -8px;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    line-height: 1em;
}

p {
    line-height: 1.5em;
}

.topbloc, .footer {
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 16px 64px; 
}

.link1, .link2 {
    font-family: monospace;
    font-weight: 100;
    color: #E5E7EB;
    border-radius: 4px;
    padding: 8px 16px;
}

/* HEADER BLOC */

.header {
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-flow: row wrap;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    /* font-size: 18px; */
}

.fakelogo {
    font-size:24px;
    color: #F9FAF8;
    font-family: monospace;
    font-weight:700
}
    
/* HERO BLOC */
.hero {
    display: flex;
    align-items: center;
    gap: 24px;
    padding-bottom: 32px;
    color: #F9FAF8;
}

.herotext {
    width: 75%;
}

.rectangle {
    height: 120px;
    width: 100%;
    font-size: 12px;
    color: #1F2937;
    text-align: center;
    background-color: #91c2b3;
}

.link1 {
    background-color: #3882F6;
    border-width: 0;
}

/* MAIN CONTENT BLOC */

.maincontent {
    padding: 16px 56px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote {
    background-color: #E5E7EB;
    width: 100%;
    padding: 24px;
    margin: 48px;
    color: #1F2937;
    font-weight: 300;
/* - font-size: 36px
- italcized? */
}

.lastcall {
    background-color: #3882F6;
    border-radius: 8px;
    margin-top: 24px;
    margin-bottom: 48px;
    max-width: 75%;
    padding: 16px 56px;
    display: flex;
    align-items: center;
    flex-direction: row;
    /* justify-content: flex-start; */
    gap: 48px;
}

.lasthook {
    display: flex;
    flex-direction: column;
    color: #F9FAF8;
}

.lastditch {
    font-size: 12px;
}

.link2{
    border-style: solid;
    border-width: 1px;
    border-color: #E5E7EB;
}

/* FOOTER BLOC */
.footer {
    font-size: 12px;
    margin-top: 8px;
    display: flex;
    justify-content: center;
}