/* le styles */

body {
    font-family: 'Roboto', monospace;
}

.topbloc, .footer {
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 16px; 
}

.header {
    font-size: 16px;
    display: flex;
}

.footer {
    font-size: 12px;
    margin-top: 8px;
    display: flex;
    justify-content: center;
}