/* le styles */

body {
    font-family: 'Roboto', monospace;
    margin: 0 36px;
}

.topbloc, .footer {
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 16px; 
}

.header {
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #E5E7EB
}

.footer {
    font-size: 12px;
    margin-top: 8px;
    display: flex;
    justify-content: center;
}