/* le styles */

body {
    font-family: 'Roboto', monospace;
    /* margin: 0 36px; */
}

.topbloc, .footer {
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 16px 56px; 
}

/* HEADER BLOC */

.header {
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-flow: row wrap;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.fakelogo {
    font-size:24px;
    color: #F9FAF8;
    font-family: monospace;
    font-weight:700
}
    
/* HERO BLOC */
.hero {
    display: flex;
    align-items: center;
    gap: 24px;
}

.herotext {
    width: 75%;
}

.rectangle {
    height: 120px;
    width: 100%;
    font-size: 12px;
    color: #1F2937;
    text-align: center;
    background-color: #387261;
}

.button1 {
    background-color: #3882F6;
    font-family: monospace;
    font-weight: 100;
    color: #E5E7EB;
    border-width: 0;
    padding: 8px 16px;
}

/* MAIN CONTENT BLOC */

.maincontent {
    padding: 16px 56px;
}

/* FOOTER BLOC */
.footer {
    font-size: 12px;
    margin-top: 8px;
    display: flex;
    justify-content: center;
}